body {
  background: #343A3F url("side_inverse.png") repeat-y top left;
  color: $default-font-color;
}
.rel {
  a {
    color: #D6DBDF;
    span {
      background-color: #434E5E;
    }
    &:after {
      background-color: #434E5E;
    }
  }
}
