
$default-font-color: #D6DBDF;

// Link colors
$default-link-color:    #2FC2EF;
$default-hover-color:   #2FC2EF;
$default-active-color:  #2FC2EF;
$default-visited-color: #2FC2EF;

// Admonitions colors
$attention-background-color: #EED3D7;
$attention-border-color: #FFCCCC;
$attention-font-color: #B94A48;

$caution-background-color: #EED3D7;
$caution-border-color: #FFCCCC;
$caution-font-color: #B94A48;

$danger-background-color: #EED3D7;
$danger-border-color: #FFCCCC;
$danger-font-color: #B94A48;

$error-background-color: #EED3D7;
$error-border-color: #FFCCCC;
$error-font-color: #B94A48;

$hint-background-color: #E5ECF9;
$hint-border-color: #3366CC;
$hint-font-color: #1155CC;

$important-background-color: #DFF0D8;
$important-border-color: #D6E9C6;
$important-font-color: #468847;

$note-background-color: #DFF0D8;
$note-border-color: #D6E9C6;
$note-font-color: #468847;

$tip-background-color: #E5ECF9;
$tip-border-color: #3366CC;
$tip-font-color: #1155CC;

$warning-background-color: #FFFBD9;
$warning-border-color: #FFEF70;
$warning-font-color: #333333;

$admonition-background-color: #FFFBD9;
$admonition-border-color: #FFEF70;
$admonition-font-color: #333333;
