.admonition {
  margin-bottom: 10px;
  padding: 7px 10px;
  background-color: #EEE;
  border-color: #DDD;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  p {
    margin: 0;
  }
  .admonition-title {
    margin-bottom: .3em;
    font-weight: bold;
  }
  &.attention,
  &.caution,
  &.danger,
  &.error {
    background-color: #EED3D7;
    border-color: #FFCCCC;
    color: #B94A48;
  }
  &.important,
  &.note {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
  }
  &.hint,
  &.tip {
    background-color: #E5ECF9;
    border-color: #3366CC;
    color: #1155CC;
  }
  &.warning {
    background-color: #FFFBD9;
    border-color: #FFEF70;
    color: #333333;
  }
}
