.figure {
  display: inline;
  padding: 5px;
  background: #FFF;
  border: solid 1px #CCC;
  @include border-radius(3px);
  img {
    display: block;
    text-align: center;
  }
  .caption {
    @include percent-font-size(13);
  }
}
