.widget {
  margin: 0 0 10px;
  .widgetHead {
    font: {
      size: 12px;
      weight: bold;
    }
  }
  .widgetBody {
    ul {
      li {
        @include percent-font-size(12);
      }
    }
  }
  &#searchbox {
    
  }
  &.copyright,
  &.updated,
  &.version {
    .widgetBody {
      border-top: dotted 1px #CCC;
      p {
        margin: .8em 0;
        font-size: 11px;
        color: #777;
      }
    }
  }
}
