.widget {
  margin: 0 0 10px;
  .widgetHead {
    font: {
      size: 12px;
      weight: bold;
    }
  }
  .widgetBody {
    ul {
      li {
        @include percent-font-size(12);
      }
    }
  }
  &.copyright,
  &.updated,
  &.version {
    .widgetBody {
      border-top: dotted 1px #CCC;
      p {
        margin: .8em 0;
        font-size: 11px;
        color: #777;
      }
    }
  }
}
#searchbox {
  input[type='text'] {
    padding: .4em .3em .3em .5em;
  }
  input[type='submit'] {

  }
}